body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: 50px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}

input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
